.main-toolbar {
  background-color: #01415B !important;
  color: white !important;
  height: 64px;
  display: flex;
  justify-content: center;

  .toolbar-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
  }
}

.brand {
  font-weight: 600;
  font-size: 1.1rem;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  max-width: 980px;
  margin: 24px auto;
}