<mat-card class="card">
  <mat-card-title>Registrar solicitud</mat-card-title>
  <mat-card-subtitle>
    Completa el formulario y se generará un Ticket ID para seguimiento.
  </mat-card-subtitle>

  <form [formGroup]="form" (ngSubmit)="submit()" class="grid">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="form.controls.nombre.invalid">Requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>ID / Documento</mat-label>
      <input matInput formControlName="documento" />
      <mat-error *ngIf="form.controls.documento.invalid">Requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="correo" />
      <mat-error *ngIf="form.controls.correo.invalid">Correo inválido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categoria">
        <mat-option value="Plataforma">Plataforma</mat-option>
        <mat-option value="Pagos">Pagos</mat-option>
        <mat-option value="Acceso">Acceso</mat-option>
        <mat-option value="Soporte académico">Soporte académico</mat-option>
        <mat-option value="Otro">Otro</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.categoria.invalid">Requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Descripción</mat-label>
      <textarea matInput rows="5" formControlName="descripcion"></textarea>
      <mat-error *ngIf="form.controls.descripcion.invalid">
        Mínimo 10 caracteres
      </mat-error>
    </mat-form-field>

    <div class="actions full">
      <button mat-raised-button color="primary" [disabled]="form.invalid || loading">
        {{ loading ? 'Enviando...' : 'Enviar solicitud' }}
      </button>
    </div>
  </form>
</mat-card>

<mat-card *ngIf="ticketId" class="card success">
  <mat-card-title>¡Solicitud registrada!</mat-card-title>

  <mat-card-content>
    <p>Tu Ticket ID es:</p>
    <h2 class="ticket">{{ ticketId }}</h2>
    <p>Guárdalo para consultar el estado.</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="goTrack()">
      Consultar ahora
    </button>
  </mat-card-actions>
</mat-card>